.booking-form-banner {
  background-color: #495e57;
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.booking-page-container {
  background-color: #e5e5e5;
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.booking-page-heading {
  font-size: 64px;
  color: #ffffff;
  margin-bottom: 30px;
}

.form-field-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  margin-bottom: 20px;
}

.form-field-label {
  color: #000000;
  font-size: 20px;
  margin-bottom: 5px;
}

.input-field {
  height: 40px;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  margin-top: 5px;
  display: none;
}

.input-field:focus {
  border-color: red;
}

.submit-button {
  background-color: #1e40af;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button.disabled {
  background-color: lightgrey ;
  color: black;
  cursor: not-allowed;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for each day of the week */
  gap: 5px; /* Gap between grid items */
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px; /* Adjust height as needed */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.row {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for each day of the week */
}