:root { 
--blue_A400_01:#1f79ff; 
--deep_orange_A100:#ee9972; 
--light_blue_A700_19:#0096eb19; 
--blue_A400:#2079ff; 
--blue_gray_100_01:#cfd4dc; 
--red_500:#f04437; 
--gray_900_0c:#1018280c; 
--blue_gray_500_01:#667084; 
--black_900:#000000; 
--blue_gray_800:#344053; 
--light_blue_A700:#0a84ff; 
--blue_gray_900_01:#051b44; 
--deep_orange_200:#fca19b; 
--blue_gray_700:#495e57; 
--deep_purple_A200:#9747ff; 
--blue_gray_900:#333333; 
--light_blue_A700_26:#0a84ff26; 
--light_blue_500_19:#04a4ff19; 
--gray_400:#afafaf; 
--blue_gray_100:#d2d5da; 
--amber_500:#f4ce14; 
--blue_gray_500:#696f8c; 
--gray_900_01:#0f1728; 
--gray_900:#1e1e1e; 
--gray_200:#edefee; 
--gray_300:#d8dae5; 
--white_A700_f2:#fffffff2; 
--blue_gray_700_01:#4b5563; 
--white_A700:#ffffff; 
}